Repository professor-greebie/SENG8080-3-field_project, pull requests merged in 2023-06, with the labels that each got.

#96 GFFUtils Documentation for converting GFF, GTF format.
  research/research.md
Labels: research

#99 Add files via upload
  research/PrimaryProposal.md
Labels: research

#102 An Explanation about structure of ekrayotic Genes and how it is stored in gffs / gtf files.
  research/gff_example1.gff3
  research/structureOfGenes.md
Labels: research

#111 Create Readme.md for data collection
  data collection/Readme.md
Labels: documentation, data collection

#103 Wrote the function to get the file from s3
  src/getFileFromS3.py
Labels: data collection
